@import "tailwindcss";

:root {
    --background: #ffff;
    /* --background: #e6e6e6; */
    --foreground: #0a0a0a;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.text-primary {
    color: #11354d;
}

.text-secondary {
    color: #353535;
}

/* .text-white {
    color: #ededed;
} */

.bg-primary {
    background-color: #11354d;
}

.bg-secondary {
    background-color: #437b9e;
}

/* .bg-white {
    background-color: #ededed;
} */

/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge Legacy */
.no-scrollbar {
  -ms-overflow-style: none;
}